doctype html
html(lang='en')
  head
    title Is my airline still flying 737 MAX 8?
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Check and see if your airline is still flying 737 MAX 8 using our crowdsourced list.')
    style.
      h1 {
      text-align: center;
      }
      th {
      text-align: inherit;
      }
      .table {
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      color: #212529;
      }
      .table td, .table th {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      }
      .table-hover tbody tr:hover {
      color: #212529;
      background-color: rgba(0,0,0,.075);
      }
      footer {
        padding-top: 1rem;
      }
  body
    h1 Is my airline still flying 737 MAX 8?
    table.table.table-hover
      thead
        tr
          th
            | Airline name
          th
            | Still flying?
          th
            | Source
      tbody
        each airline in airlines.length ? airlines : ['There are no airline data']
          - var reasonForNo = airline.reason ? 'No (' + airline.reason + ')' : 'No'
          tr
            td= airline.name
            td= airline.flying ? 'Yes' : reasonForNo
            td
              a(href=airline.source.url)= airline.source.text

    h1 Countries grounding all 737 MAX planes
    table.table.table-hover
      thead
        tr
          th
            | Country
          th
            | Source
      tbody
        each country in countries.length ? countries : ['There are no countries data']
          tr
            td= country.name
            td
              a(href=country.source.url)= country.source.text
    footer
      p Contribute to this list by creating an #[a(href='https://gitlab.com/ClemMakesApps/737-max-8/issues/new') issue]. Thanks to all the #[a(href='https://gitlab.com/ClemMakesApps/737-max-8/graphs/master') contributors] who contributed to the list.
      p Created by
        a(href='https://twitter.com/clemmakesapps') @ClemMakesApps

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-48746046-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48746046-3');
